@media (max-width: 1200px) {
    .get_inputs input{
        margin-top: 15px;
        padding: 13px 430px 13px 13px;
        background: #454545;
        border: none;
        font-size: 12px;
    }
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}