*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.menu{
    height: 63px;
    background: #323232;
    position: relative;
}
.menu:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    left: 0;
    right: 0;
    margin: auto;
    top: 63px;
}
header{
    position: relative;
}
header:before{
    content: '';
    position: absolute;
    width: 510px;
    height: 2px;
    background: #e4e9eb;
    top: 75px;
    left: 30px;
}
header:after{
    content: '';
    position: absolute;
    width: 510px;
    height: 2px;
    background: #e4e9eb;
    top: 75px;
    right: 30px;
}

.header-lists{
    list-style: none;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.header-list{
    font-family: 'Lato', sans-serif;
    margin-right: 12px;
    margin-left: 12px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.header-list a:hover{
    color: #2eb398;
}
.header-list a {
    color: white;
}
.point{
    color: #484c5f;

}
.logo{
    margin-right: 28px;
    margin-left: 28px;
}
.menu_logo{
    margin-top: 5px;
}
.container{
    max-width: 1020px;
 margin: 0 auto;
}
#portfolio{
    padding: 80px 0;
    position: relative;
}

.left-line1, .left-line2, .right-line1, .right-line2{
    position: relative;
}
.left-line1:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 105px;
    background: #e4e9eb;
    left: -5px;
    top: 60px;
}
.right-line1:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 105px;
    background: #e4e9eb;
    right: -5px;
    top: 60px;
}
.left-line2:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 105px;
    background: #e4e9eb;
    left: -5px;
    top: 60px;
}
.right-line2:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 105px;
    background: #e4e9eb;
    right: -5px;
    top: 60px;
}
.hexagon{
    width: 180px;
    height: 207px;
    margin: 10px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
}
.hex-layer-2:hover:before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hexagon img{
    width: 100%;
    height: 100%;
}
.hex-layer-1{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.hex-layer-2{
    width: 180px;
    height: 207px;
    background: red;
    transform: rotate(-60deg);
    overflow: hidden;
}
.row{
    display: flex;
justify-content: center;
}
.even-hex{
    margin-top: -55px;
}
#about_me{
    background: #2eb398;
    padding: 65px 0;
    position: relative;
}
.container_about{
    max-width: 820px;
    margin: 0 auto;
}
.about_title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: lighter;
}
.row_about_me{
    display: flex;
    position: relative;
}
.row_about_me:before{
    content: '';
    position: absolute;
    height: 315px;
    width: 2px;
    background: #219d84;
    top: -35px;
}
.row_about_me:after{
    content: '';
    position: absolute;
    height: 315px;
    width: 1px;
    background: #219d84;
    top: -35px;
    right: -20px;
}
.about_title2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: #20816d;
    font-weight: lighter;
}
.about-content p{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    margin-top: 25px;
    line-height: 1.8;
}
@font-face {
    font-family: 'fontello';
    src: url('../font1/fontello.eot?64568037');
    src: url('../font1/fontello.eot?64568037#iefix') format('embedded-opentype'),
    url('../font1/fontello.woff2?64568037') format('woff2'),
    url('../font1/fontello.woff?64568037') format('woff'),
    url('../font1/fontello.ttf?64568037') format('truetype'),
    url('../font1/fontello.svg?64568037#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64568037#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */

.icon-list li{
    list-style: none;
}
.icon-list {
    display: flex;
float: right;
    margin-top: 40px;
}
.icon-list li a{
    text-decoration: none;
    color: #04ac95;
    padding: 5px;
}
.icon-facebook{
    background: #a5dbd4;
}
.icon-twitter{
    background: #6ccbbe;
}
.icon-gplus {
    background: #7ed0c5;
}
.icon-pinterest {
    background: #abddd7;
}
.icon-linkedin {
    background: #acddd7;
}
.icon-dribbble {
    background: #6dcbbe;
    color: #fff;
}
.icon-facebook:hover{
    background: #4064ad;
    color: #fff;
}
.icon-twitter:hover{
    background: #53a7e7;
    color: #fff;
}
.icon-gplus:hover{
    background: #d74937;
    color: #fff;
}

.icon-pinterest:hover{
    background:#df0119;
    color: #fff;
}

.icon-linkedin:hover{
    background: #0078b0;
    color: #fff;
}

.icon-dribbble:hover{
    background: #000000;
    color: #fff;
}
.hex-layer-2 img{
    position: center;
}
#get{
    background: #323232;
    padding: 65px 0;
    position: relative;
}
#get:before{
    content: '';
    position: absolute;
    background: #2b2b2b;
    width: 95%;
    height: 2px;
    margin-left: 35px;
   top: 15px;
}
#get:after{
    content: '';
    position: absolute;
    background: #2b2b2b;
    width: 95%;
    height: 2px;
    margin-left: 35px;
    bottom: 15px;
}
.get_container{
    max-width: 820px;
    margin: 0 auto;
}
.get_titles h2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
}
.get_titles h4{
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: lighter;
}
.get_inputs input{
    margin-top: 15px;
    padding: 13px 445px 13px 13px;
    background: #454545;
    border: none;
    font-size: 12px;
}
.get_inputs textarea {
    margin-top: 15px;
    padding: 13px 390px 13px 13px;
    background: #454545;
    border: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.get_inputs input:hover, .get_inputs textarea:hover {
    box-shadow: inset 0 0 0 1px rgba(150, 150, 150, 0.5);
    border-color: rgba(150, 150, 150, 0.5);
}
.get_content{
    display: flex;
}
.get_text span{
 font-weight: 700;
    color: #e0e0e0;
}
.get_text{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 2;
    margin-top: 65px;
    color: #a1a1a1;
    margin-left: 20px;
}
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?86532587');
    src: url('../font/fontello.eot?86532587#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?86532587') format('woff2'),
    url('../font/fontello.woff?86532587') format('woff'),
    url('../font/fontello.ttf?86532587') format('truetype'),
    url('../font/fontello.svg?86532587#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86532587#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */

.get_icons span{
    color: #2eb398;
    display: flex;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.get_icons span p{
    color: #b7b7b7;
    text-align: justify;
    margin-left: 12px;
    margin-top: -5px;
}
.get_icons{
    margin-top: 47px;
}
.get_btn{
    background: #2eb398;
    border-color: transparent;
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    float: right;
}
footer{
    background: #222222;
    color: #3d3d3d;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    padding: 15px 40px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
}
.owl-theme .owl-dots .owl-dot span{
    border-radius: 0;
    margin: 3px;
}
